@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(25deg, #f5161d, #fa7b1a, #f8b913, #eff100);
  padding: 10px;
}

.todo-list {
  width: 100%;
  max-width: 540px;
  background-color: white;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 15px;
  box-shadow: 0px 15px 20px 0 rgba(0, 0, 0, 0.25);
}

.todo-list h2 {
  color: #37353e;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 26px;
}

.todo-list h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eeeeee;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 14px;
}

input::placeholder {
  padding-left: 0px;
  font-size: 0.87rem;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background-image: linear-gradient(25deg, #f64e00, #fa7400, #fc9500, #fcb300);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  transition: 0.2 ease;
  font-weight: 550;
}

button:hover {
  background-image: linear-gradient(25deg, #e0931f, #ddaf26, #d8cb2d, #d0e635);
  color: white;
}

ul li {
  list-style: none;
  font-size: 15px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(image/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(image/checked.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background-color: #edeef0;
}
